/*tablet size*/
@media (max-width: 1024px) {
    body{
        clear: both;
        float: left;
    }
    .navbar-nav{
        position: relative;
        display: none;
    }

    /*hide navbar menu*/
    .navbar-nav{
        position: absolute;
        margin-top: 90px;
        padding: 0;
        background-color: #212529;
    }
    .navbar-brand{
        padding: 25px;
    }
    .nav-link{
        font-size: 1.0rem !important;
    }
    .collapse{
        float: right;
        display: inline-block;
        padding-right: 40px;
    }
    
    /*menu icon*/
    .xi-bars{
        display: block !important;
        padding: 20px;
    } 

    .service-row{
        display: inline;
        width: 100%;
        height: auto;
    }

    /*header img & letter*/
    .header-content{
        position: relative;
        text-align: center;
        width: 100%;
    }
    .header-img{
        position: absolute;
        display: block;
        top: 10%;
        right: 15%;
        width: 70%;
        margin: 0 auto;
    }
    .header-letter{
        display: block;
        font-size: 2.5rem;
        width: 100%;
        bottom: 15%;
    }
    
    /*slide button down size*/
    .visual{
        width: 100%;
        height: 100%;
    }
    .visual button{
        width: 60px;
        height: 60px;
    }
    .visual button:before{
        font-size: 30px;
    }
    /*font resize*/
    .col-md-4{
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 4rem;
    }

    /*more button resize*/
    .btn{
        width: 50%;
    }
    .btn h3{
        font-size: 1.5rem;
        font-weight: 900;
    }

    /*service item resize*/
    .section-heading{
        padding-top: 50px;
        font-size: 3.0rem;
    }
    .section-subheading{
        margin-left: 20px;
        margin-right: 20px;
        font-size: 2.0rem;
    }
    .text-muted{
        margin-left: 20px;
        margin-right: 20px;
        font-size: 1.5rem;
    }
    .sdn-section{
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 4rem;
    }
    .infra-section{
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 4rem;
    }
    .sqa-section{
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 4rem;
    }
    .section-subheading{
        margin-left: 20px;
        margin-right: 20px;
    }
    .text-muted{
        margin-left: 20px;
        margin-right: 20px;
    }
    .sdn-section .row{
        display: inline;
    }
    .infra-section .row{
        display: inline;
    }
    .sqa-section .row{
        display: inline;
    }
    .service-item{
        position: relative;
        display: block;
    }
    .img-cover{
        left: 12%;
        height: 80%;
    }

    /*modal content img resize*/
    .modal{
        padding-top: 15%;
    }
    .modal-content img{
        width: 100%;
    }
    .more{
        padding-top: 8.5rem;
        font-size: 8.5rem;
        font-weight: 900;
    }
}